        {% extends 'base2.html' %}
            {% block head %}
                    <title>National Innitiatives Participation</title>
                    {% load static %}
                    <link  rel="stylesheet" href="{% static 'accounts/css/stylesheet.css' %}" type="text/css">

           <style>
   body,html {
        height: 100%;
        margin: 0;
    }

    .hero-image {
      background-image:url("{% static 'accounts/images/national.jpg' %}");
      height: 50%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }

    .hero-text {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
    }

    /*the container must be positioned relative:*/
    .custom-select {
      position: relative;
      font-family: Arial;
    }
    .custom-select select {
      display:none; /*hide original SELECT element:*/
    }
    .select-selected {
		background-color:transparent;
    }
    /*style the arrow inside the select element:*/
    .select-selected:after {
      position: absolute;
      content: "";
      top: 14px;
      right: 10px;
      width: 0;
      height: 0;
      border: 6px solid transparent;
      border-color: #fff transparent transparent transparent;
    }
    /*point the arrow upwards when the select box is open (active):*/
    .select-selected.select-arrow-active:after {
      border-color: transparent transparent #fff transparent;
      top: 7px;
    }
    /*style the items (options), including the selected item:*/
    .select-items div,.select-selected {
      color:#fff;
      padding: 8px 16px;
      border: 1px solid transparent;
      border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
      cursor: pointer;
      user-select: none;
    }
    /*style items (options):*/
    .select-items {
      position: absolute;
	  background-color:#09F;
      top: 100%;
      left: 0;
      right: 0;
      z-index: 99;
    }
    /*hide the items when the select box is closed:*/
    .select-hide {
      display: none;
    }
    .select-items div:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }

    .container1{

        left:15%;
        width:700px;
        height:350px;
		background-image:url("{% static 'accounts/images/img.jpg' %}");
		background-repeat:no-repeat;
		background-size:cover;
        text-align:center;
        color:white;}

    </style>
          {% endblock %}
                 <body class="Natpage" >
                 {% block content %}
                 <div class="hero-image">
      <div class="hero-text">

       <h1 style="font-size:50px" >National Innitiative Participation</h1>

      </div>
    </div>
    {% endblock %}

    {% block body %}
    <div class="container1">

   <h2>Certificate</h2>

    <form>
    <!--surround the select box with a "custom-select" DIV element. Remember to set the width:-->
      <!--<select>-->
        <!--<option value="0">Select :</option>-->
        <!--<option value="1">NCC</option>-->
        <!--<option value="2">NSS</option>-->
       <!--</select>-->

    <!--<select>-->
        <!--<option value="0">Select :</option>-->
        <!--<option value="1">C certificate(os performance)</option>-->
        <!--<option value="2">Best NSS Volunteer Awardee(University Level)</option>-->
        <!--<option value="3">Participation in National Integration Camp</option>-->
        <!--<option value="4">Participation in Pre-Republic Day Parade Camp</option>-->
        <!--<option value="5">Best NSS Awardee(State Level/National Level)</option>-->
        <!--<option value="6">Participation in Republic Day Parade Camp</option>-->
        <!--<option value="7">International Youth Exchange Programme</option>-->
        <!--<option value="7">Others</option>-->
    <!--</select>-->
             <!--<select>-->
        <!--<option value="0">Select :</option>-->
        <!--<option value="1">(a) Certificate </option>-->
        <!--<option value="2">(b) Letter from Authorities</option>-->
        <!--<option value="3">(c) Appreciation recognition letter </option>-->
        <!--<option value="4">(d)Documentary evidence </option>-->
        <!--<option value="5">(e) Legal Proof </option>-->
        <!--<option value="5">(f) Others (specify)</option>-->
            <!--</select>-->
      {{ form.as_p }}
      <input type="submit">
    </form>
    <br>

      </div>
                {% endblock %}
                </body>
