<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Password Reset Complete</title>
</head>
<body>
    {% block body %}
    <div class="container">
        <center>
            <h2>Password Reset Complete</h2>
        </center>
        <br>
        <p>Your password has been set. You may login with the new password.</p>
        <a href="http://127.0.0.1:8000/account/login/">Login</a>
    </div>
    {% endblock %}
</body>
</html>
