<html>
<head>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <title>New Password</title>
</head>
<body>
    <div class="container">
        <center>
            <br>
            <h5 class="indigo-text">Enter New Password</h5>
            <br>
            <div class="z-depth-1 grey lighten-4 row"
                 style="display: inline-block; width: 380px; padding: 25px 60px 15px 60px; border: 1px solid #EEE;">
        <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
        <form method="post">
            {% csrf_token %}
            <div class='row'>
                  <div class='input-field col s12'>
                        {{form.errors}}
                        {{form.non_field_errors}}
                  </div>
                </div>
                {% for field in form %}
                <div class='row'>
                  <div class='input-field col s12'>
                      {{field}}
                      {{ field.label_tag }}
                      {{ field.errors|striptags }}
                  </div>
                 </div>
                {% endfor %}
            <center>
            <button type='submit' name='btn_login'
                    class='col s12 btn btn-large waves-effect green'>Change Password</button>
            </center>
        </form>
        </div>
        </center>
    </div>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</body>
</html>
