{% extends 'base.html' %}

        {% block head %}
        <title>Create Profile</title>
        {% load static %}
        <link  rel="stylesheet" href="{% static 'accounts/css/stylesheet.css' %}" type="text/css">
        {% endblock %}

    {% block body %}
    <div class="container">
        <center>
            <br>
            <h5 class="indigo-text">Create your profile</h5>
            <br>
        <div class="z-depth-1 grey lighten-4 row"
                 style="display: inline-block; width: 450px; padding: 25px 60px 15px 60px; border: 1px solid #EEE;">
    <form method="post">
            {% csrf_token %}
             <div class='row'>
                  <div class='input-field col s12'>
                        {{form.errors}}
                        {{form.non_field_errors}}
                  </div>
                </div>
                {% for field in form %}
                <div class='row'>
                  <div class='input-field col s12'>
                      {{field}}
                      {{ field.label_tag }}
                      {{ field.errors|striptags }}
                  </div>
                 </div>
                {% endfor %}
                <center>
                    <div class='row'>
                        <button type='submit' name='btn_login'
                                class='col s12 btn btn-large waves-effect dark green'>Create</button>
                    </div>
                </center>
        </form>
        </div>
        </center>
        </div>
{%endblock%}
