<html>
  <head>
    {% load static %}
      <link  rel="stylesheet" href="{% static 'accounts/css/stylesheet.css' %}" type="text/css">
    {% block head %}
    {% endblock %}
  </head>
  <body>
      {% block content %}
      {% endblock %}
      {% if user.is_authenticated %}
        <div class="topnav">
            <a href="/account/profile">Profile</a>
            <a href="/account/">Home</a>
            <a href="/account/change-password">Change Password</a>
            <a href="/account/logout">Logout</a>
        </div>
      {% else %}
            <div class="topnav">
                <a href="/account/login">Login</a>
                <a href="/account/register">Register</a>
            </div>
      {% endif %}
    {% block body %}
    {% endblock %}
  </body>
</html>
