  body{
    margin:0;
    background: url("https://i.imgur.com/MJAkxbh.png");
 }
  .h1{
	  color: #4CAF50;
	  }	/* Add a black background color to the top navigation */
  .topnav {
	  background-color: #333;
	  overflow: hidden;
  }

  /* Style the links inside the navigation bar */
  .topnav a {
	  float: left;
	  color: #f2f2f2;
	  text-align: center;
	  padding: 14px 16px;
	  text-decoration: none;
	  font-size: 17px;
  }

  /* Change the color of links on hover */
  .topnav a:hover {
	  background-color: #ddd;
	  color: black;
  }

  /* Add a color to the active/c-*/
  .topnav a.active {
	  background-color: #4CAF50;
	  color: white;
  }*/

 .nav-wrapper {
	  background-color: #333;
	  overflow: hidden;
  }

  /* Style the links inside the navigation bar */

  .h1 em {
	  font-size: larger;
  }

  .container1 {

	  width:300px;
	  display: inline;
	  position: relative;
	  height:238px;
	  float: left;
	  margin:55px;
	  padding:10px;
  }

  .image {
	opacity: 1;
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 8px;
	border: 1px solid #4CAF50;
  }

  .middle {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
  }

  .container1: hover.image {
	  opacity: 0.3;
  }

  .container1: hover.middle {
	opacity: 1;
  }

 a:visited {
    text-decoration: none;
	color: white;
}

 a: hover {
    text-decoration: underline;
	color: white;
}

  a:active {
    text-decoration: underline;
	color: white;
    }
    .text {
	background-color: #4CAF50;
	color: white;
	font-size: 16px;

	padding: 16px 32px;
	}
	a: link {
    text-decoration: none;
	color: white;
}
